h1  {
      text-align: center;
      color: #620b0b;
      font-family:"Noteworthy", sans-serif;
      font-weight: normal;;
}

h2{
  font-family: "Actor", sans-serif;
  font-weight:normal;
}

h3{
  font-family: "Actor" , sans-serif;
}

.my-nav{
  background-color: grey;
  text-align: center;

}

.nav-menu{
  min-width: 300px;
  list-style: none;
  padding-left: 0px;
}

.nav-menu li{
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}
